@import "tailwindcss";


@font-face {
    font-family:"taknaf";
    src: url('./assets/fonts/TeknafRegular-rv0aB.otf');
}
html{
  scroll-behavior: smooth!important;  
}           
body{
    overflow-x: hidden;     
    background-color: #0A0A0A;
   
}
.heading{
    font-family: 'taknaf', sans-serif ;   
    
}
p,.para{
    font-family: 'Syne', sans-serif;  
}
/* From Uiverse.io by Smit-Prajapati */ 
.loader {
  --size: 250px;
  --duration: 2s;
  --logo-color: grey;
  --background: linear-gradient(
    0deg,
    rgba(50, 50, 50, 0.2) 0%,
    rgba(100, 100, 100, 0.2) 100%
  );
  height: var(--size);
  aspect-ratio: 1;
  position: relative;
}
.loader-wrapper{
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 8s;
}
.loader{
  
  
z-index: 9999;
}
.loader .box {
  position: absolute;
  background: rgba(100, 100, 100, 0.15);
  background: var(--background);
  border-radius: 50%;
  border-top: 1px solid rgba(100, 100, 100, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  backdrop-filter: blur(5px);
  animation: ripple var(--duration) infinite ease-in-out;
}

.loader .box:nth-child(1) {
  inset: 40%;
  z-index: 99;
}

.loader .box:nth-child(2) {
  inset: 30%;
  z-index: 98;
  border-color: rgba(100, 100, 100, 0.8);
  animation-delay: 0.2s;
}

.loader .box:nth-child(3) {
  inset: 20%;
  z-index: 97;
  border-color: rgba(100, 100, 100, 0.6);
  animation-delay: 0.4s;
}

.loader .box:nth-child(4) {
  inset: 10%;
  z-index: 96;
  border-color: rgba(100, 100, 100, 0.4);
  animation-delay: 0.6s;
}

.loader .box:nth-child(5) {
  inset: 0%;
  z-index: 95;
  border-color: rgba(100, 100, 100, 0.2);
  animation-delay: 0.8s;
}

.loader .logo {
  
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 30%;
}

.loader .logo svg {
  fill: var(--logo-color);
  width: 100%;
  animation: color-change var(--duration) infinite ease-in-out;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
  50% {
    transform: scale(1.3);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 20px -0px;
  }
  100% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
}

@keyframes color-change {
  0% {
    fill: var(--logo-color);
  }
  50% {
    fill: white;
  }
  100% {
    fill: var(--logo-color);
  }
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  

  .animated-bg {
    background: linear-gradient(-45deg, #585756, #0A0A0A, #0A0A0A, #000000, #0A0A0A);
    /* background: linear-gradient(-135deg, #FF8C00, #7D00FF); */
    /* background-image: linear-gradient(to right top, #020202, #0A0A0A,  #0A0A0A, #ff8c00, #d64d47); */
    background-size: 300% 300%;
    animation: gradientAnimation 6s ease infinite;
    height: 100vh; /* Full-screen height */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    color: white;
    text-align: center;
  }
.gradient-btn {
    background: linear-gradient(-135deg, #FF8C00, #7D00FF);

  color: white;
  padding: 16px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.gradient-btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(255, 140, 0, 0.3);
}


.leBlurIn span { animation-name: leBlurIn }
@keyframes leBlurIn {
    from {
        transform: scaleX(0.2);
        filter: blur(20px);
        opacity: 0;
    }
}

.btc{
  /* width: 320px;
  height: 320px; */
  cursor: pointer;
  text-indent: 0px 0px 20px #FFCA2C,
  0px 0px 20px #FFCA2C,
  0px 0px 20px #FFCA2C,
  0px 0px 20px #FFCA2C
  ;
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px); /* Adjust the float height */
  }
  100% {
    transform: translateY(0px);
  }
}

.btc2{
  /* width: 320px;
  height: 320px; */
  cursor: pointer;
  text-indent: 0px 0px 20px #FFCA2C,
  0px 0px 20px #FFCA2C,
  0px 0px 20px #FFCA2C,
  0px 0px 20px #FFCA2C
  ;
  animation: floatx 8s ease-in-out infinite;
}
@keyframes floatx {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-20px); /* Adjust the float height */
  }
  100% {
    transform: translateX(0px);
  }
}

.glow {
  position: absolute;
  width: 450px;
  height: 300px;
  border-radius: 100%;
  background-color: #FF8C00 ;
  filter: blur(60px);
  mix-blend-mode: screen;
  /* Glowing effect */
  pointer-events: none;
  /* Allow interaction with underlying elements */
  transform: translate(0%, -10%);
  transition: all ease-in-out 0.3s;
  transition: width 0.2s ease, height 0.2s ease;
  z-index: 9999;
  animation: color 6s ease infinite;
}
@keyframes color {
  0% {
    background-color: #FF8C00;
  }
  50% {
    background-color: #7D00FF;
  }
  100% {
    background-color: #FF8C00;
  }
}

@media (max-width: 768px) {
  .glow {
    width: 280px;
    height: 200px;
  }
}